# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# Visual Studio cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# NuGet
*.nupkg
# NuGet Symbol Packages
*.snupkg
**/packages/*
!**/packages/build/

# Others
_ReSharper*/
*.orig
*.swp
*.tmp
*.log
*.DS_Store
Thumbs.db

# WPF local
*.g.i.cs
*.g.cs

# Rider
.idea/

# VS Code
.vscode/

# Test Results
TestResult*/
*.trx
